<div class="wrap">
  <div class="cards">
    <div class="card-pet">

      <div class="box">

        <div class="label-box">
          <span>Nombre</span>
          <span>Monny</span>
        </div>

        <div class="thumbnail">
          <div class="position-icon icon-add_a_photo pointer"></div>
        </div>

        <div class="horizontal-label-box">
          <div class="label-box">
            <span>Tipo</span>
            <span>Perro</span>
          </div>
          <div class="label-box">
            <span>Tamaño raza</span>
            <span>Pequeña</span>
          </div>
          <div class="label-box">
            <span>Edad</span>
            <span>10 Años</span>
          </div>
        </div>

      </div>

    </div>
    <div class="card-items">
      <div class="header-card-items">
        <h2>Historia</h2>
      </div>
      <app-items-history [items]="items"></app-items-history>
    </div>
  </div>
</div>
