  <div class="header-menu pointer" [routerLink]="'/mascota'">
    <div class="logo-box">
      <span class="logo icon-cat"></span>
      <h1>Re wow</h1>
    </div>
  </div>
  <nav class="menu">
    <ul>
      <li>
        <div class="item pointer">
          <div class="container-icon-menu">
            <span class="color-gray icon-cat font-30"></span>
          </div>
          <span class="item-name" [routerLink]="'/historia'">Historia</span>
        </div>
      </li>
      <li>
        <div class="item pointer">
          <div class="container-icon-menu">
            <span class="color-gray icon-date_range font-30"></span>
          </div>
          <span class="item-name" [routerLink]="'/citas'">Citas</span>
        </div>
      </li>
      <li>
        <div class="item pointer">
          <div class="container-icon-menu">
            <span class="color-gray icon-gift font-30"></span>
          </div>
          <span class="item-name">Tienda</span>
        </div>
      </li>
    </ul>
  </nav>


