<div class="header">
  <span class="icon-white icon-times font-30 pointer" [routerLink]="'/historia'"></span>
</div>
<div class="wrap">
  <div class="content">
    <div class="items">
      <div class="thumbnail">
        <div class="position-icon icon-add_a_photo pointer"></div>
      </div>
      <div class="form">
        <input id="name" type="text" placeholder="Nombre de la mascota">

        <input id="type" type="text" placeholder="Tipo de mascota">

        <input id="age" type="text" placeholder="Edad">

        <input id="race" type="text" placeholder="Tamaño Raza">
      </div>

      <div class="content-button">
        <button class="btn-white" [routerLink]="'/historia'">INICIO</button>
      </div>
    </div>
  </div>
</div>
